.acronymTable {
  margin: inherit;
  border-collapse: collapse;
}

.letterCell {
  font-weight: 700;
  width: 80px;
  text-align: center;
  padding: 0.5em;
}

.titleCell {
  padding: 0.5em;
}

.notesCell {
  padding: 0.5em;
}

.acronymRowContainer {
  border-radius: 0.25em;
  transition: 0.1s background-color;
}

[data-theme="light"] .acronymRowContainer:hover {
  transition: 0.1s background-color;
  background-color: #dbd8f4;
}

[data-theme="dark"] .acronymRowContainer:hover {
  transition: 0.1s background-color;
  background-color: #534c9c;
}
