.acronymTable {
  border: 0.5px solid #eee;
  margin: inherit;
  border-collapse: collapse;
}

.letterCell {
  font-weight: 700;
  width: 80px;
  text-align: center;
  padding: 0.5em;
}

.titleCell {
  padding: 0.5em;
}

.notesCell {
  padding: 0.5em;
}

.acronymRowContainer {
  border-radius: 0.25em;
  transition: 0.1s background-color;
}

.acronymRowContainer:hover {
  transition: 0.1s background-color;
  background-color: #6c60ee;
}
